body{
    background-color: slategray;
    background-image: url(b686c1de784ca43e5e08c44cf032c9b8.jpeg);
    background-position: center;
    background-size: cover;
}
a{
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}